/INSTALL
/shairport-sync
/shairport-sync.exe
/*.o
/*~
*.xml~
/config.mk
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
configure
depcomp
install-sh
missing
stamp-h1
.deps
man/Makefile
man/Makefile.in
scripts/shairport-sync.service
scripts/shairport-sync

# Some eclipse project files
.cproject
.project
